@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* -------- Universal CSS Reset -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: work-sans, sans-serif;
    /* background-color: var( --Dark1); */
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

:root {
    --Dark1: #131313;
    --Dark2: #424242;
    --Dark3: #727272;
    --Dark4: #a1a1a1;
    --Dark5: #d0d0d0;
    --Dark6: #e7e7e7;
    --Dark7: #f3f3f3;
    --White: #ffffff;
    --pramary-bg-color: #FF900E;
    --secondary-bg-color: ;
    --pramary-button-color: #FF900E;
    --secondary-button-color: #d2ff4e;

}

a {
    text-decoration: none;
}

.pramary-button {
    background-color: var(--pramary-button-color);
    padding: 10px 20px;
    color: var(--White);
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.Pramary-button:hover {
    background-color: var(--secondary-button-color);
    color: var(--Dark1);
}

.description {
    font-size: 1rem;
    color: var(--Dark3);
}

/* --------navbar-------- */
.header {
    background-color: rgba(255, 144, 42, .2);
    width: 100%;
}

.navber {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 3.125rem 0;
}

.navber-tittle {
    font-size: 2rem;
    color: var(--Dark1);
}

.navber ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    color: var(--Dark1);
    font-weight: 700;
}

/* ------banner-------- */
.banner {
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;
}

.banner-container {
    max-width: 55rem;
    text-align: center;
    margin: 0 auto;
}

.banner-container h1 {
    font-size: 4rem;
    color: var(--Dark1);
}

.banner-container p {
    font-size: 1rem;
    color: var(--Dark3);
    padding: 3.125rem 0 1rem 0;
}

.bannar-image {
    width: 100%;
    margin: 3.125rem 0;
}

/* ------teams style-------- */
.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin: 4rem 2rem;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-img {
    width: 100%;
    border-radius: 8px;
}

.teams-our-fretures {
    max-width: 35rem;
}

.teams-our-fretures h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--Dark1);
}

.list {
    color: var(--Dark3);
}

.feature {
    color: var(--pramary-button-color);
}

.teams-our-fretures p {
    color: var(--Dark3);
    padding: 1.5rem 0;
    font-size: 1rem;
}

/* -------EXPERIENCE SECTION STYLE --------- */
.experience {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.experience-container {
    margin: 2.5rem 0;
}

.experience-header h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--Dark1);
}

.line {
    width: 5px;
    height: 50px;
    background-color: var(--pramary-button-color);
    margin: 1rem 0;
}

.experience-header p {
    padding: 2.8rem 0;
    font-weight: 400;
}

.experience-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.ex-card-tittle {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--Dark1);
}

.experience-card p {
    padding: 10px 0;
}

.experience-img-container {
    width: 80%;
    margin: 0 auto;
}
.experience-img {
    border-radius: 8px;
}

.experiens-year {
    width: fit-content;
    position: relative;
    top: -5rem;
    left: -3rem;
    padding: 45px;
    text-align: center;
}

.experiens-year h1 {
    font-size: 4rem;
    color: var(--White);
}

.experiens-year p {
    font-size: 1.51rem;
    color: var(--White);
    padding-top: 10px;
}

/* --------facts section style ----------- */
.facts {
    width: 100%;
    /* margin: 3rem 0; */
}

.facts-container {
    max-width: 45%;
}
.facts-container p{
    margin: .8rem 0;
}

.fact-tittle {
    font-size: 3rem;
    font-weight: 700;
    color: var(--Dark1);
}

.fact-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2.5rem 2rem;
}

.fact-card {
    width: 240px;
    height: 240px;
    border: 1px solid tomato;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-card h2 {
    font-size: 45px;
    font-weight: 700;
    color: var(--Dark3);
}

.fact-card p {
    font-size: 20px;
    color: var(--Dark3);
}

/* ----------sponsers section style --------- */
.sponspors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sponspors-container {
    padding: 3.5rem;
    width: 45%;
}

.sponspors-container p {
    padding: 1.5rem 0;
}

.sponspors-container .sponspors-tittle {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--Dark1);
}

.sponspors-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9rem;
    color: var(--Dark3);
    padding-bottom: 3.5rem;
    filter: grayscale(100%);
}
footer{
    width: 70%;
    height: 50px;
    background-color: rgba(255, 144, 42, .2);
    margin: 3.5rem  auto;
    font-size: 1.2rem;
    color: var(--Dark3);
    display: flex;
    justify-content: center;
    align-items: center;
}